body {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.Line{
   border-top: 1px solid #656363 !important;
   width: 100%;
   color: white !important;
}
.Top_Most,.Top_Most a {
  outline: none;
    color: #bdbcbc;
    font-size: 11px;
    text-decoration-line: none !important;
    padding: 15px;s
}
hr{
  color: white !important;
  border-top: 1px solid #656363 !important;
}
.home-background{
  background: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url("../image/home.jpg");
  height:100vh;
  width: 100%;
  margin:0;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 45px;
  background-attachment: fixed;
}
.Header-top{
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 80px;
    z-index: 1;
}
nav{
  background: transparent;
  height: 80px;
  width: 100%;
}
label.logo{
  color: #d22d64;
  font-size: 50px;
  line-height: 80px;
  padding: 0px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-top: 6px;
  
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0px;
}
nav ul li a{
  color: #fff !important;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 8px;
  text-decoration-line:none !important; 
  font-weight: 600!important;
}
nav ul li a.active,nav ul li a:hover{
  background: #d22d64;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 0px;
  cursor: pointer;
  display: none;
}
.checkbtn i{
  font-size: 25px !important;
}
#check{
  display: none;
}
@media (max-width: 768px){
  label.logo{
    font-size: 30px;
    font-size: x-large;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 768px){
  .checkbtn{
    display: block;
  }
  ul{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #111111e3;
    top: 72px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px; 
  }
  a:hover,a.active{
    background: #b1d22d;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .bar-colr{
    color:#b1d22d; 
  }
}
 #navba{
  background-color: #3330;
  color: red;
  max-width: 100%;
  padding: 0px 20px;

}
@media (max-width: 768px){
    .top-con{
      max-width: 100% !important;
      margin: 0 !important;
    padding: 0 !important;}
  
  .Top_Most,.Line{
    display: none;
  }
}
.main-text{
    color: #ffffff;
    text-align: center;
    padding-top: 200px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    font-size: 40px;
    font-weight: 700;
}
.main-text-two{
  color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: 25px;   
}
@media (max-width: 768px){
  .main-text{
    font-size: xx-large;
    padding-top: 150px;
  }
  .box{
    margin-top: 45px !important;
    font-size: larger;
  }
}
@media (max-width: 499px){
  .main-text{
    font-size: x-large;
  }
  .main-text-two{
    font-size: medium;
  } 
}
.box{
  height: 100%;
  width: 100%;
  background-color:#fff;
  margin-top: 50px;
  margin-bottom: 40px !important;

}
i{
  color: #3c69a4;
  font-size: 20px !important;
}
.text-edit{
  background: transparent;
  border:none;
  outline: none !important;
  color: #757575;
}
.text-edits{
  background: transparent;
  border:none;
  outline: none !important;
  color: #757575;
  font-size: 17px;
}
.search-body i{
      color: #ffffff;
    font-size: 26px !important;
    padding: 17px 10px;
}
.search-btn{
  background-color:#b1d22d;
  border-radius: 10px; 
    margin-top: 3px;
  border: none;
  outline: none !important;
  width: 150%;
}
#SERVICES{
  margin-top: 40px;
}
.s-name h2{
  text-align: center;
  letter-spacing: 0.1em;
  font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 80px 0px 18px 0px;
}
.Small-line{
  border: 0.5px solid #212020;
    display: block;
    margin: auto;
    width: 75px;
    margin-bottom: 85px;
}
.ser-name h2{
  font-family: 'Roboto', sans-serif;
    font-weight: 00;
    letter-spacing: 0.1em;
    font-size: 23px;
    color: #030303;
    padding: 20px 0px 5px 0px;
}
.ser-box{
  width: 100% !important;
  background-color: #fff;
  text-align: center;
  padding: 30px 0px 25px 0px;
  margin-bottom: 60px;
  box-shadow: 1px 2px 2px 0px rgba(51, 52, 54, 0.2)
}
.ser-box:hover{
    border-bottom-right-radius: 4px;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;
  }
.top-left{
   position: absolute;
    box-shadow: 
    border-radius: 10px;
    color: #ffffff;
    font-weight: 700;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
}
#Feedback{
  font-family: "Open Sans", sans-serif;
}
.testimonials {
  overflow: hidden;
  position: relative;
  max-height: 300px;
}

.testimonials {
  background: #d4062f;
}

.one-slide,
.testimonial,
.message {
  border: none !important;
  outline: none !important;
}

.icon-overlay {
  position: absolute;
  opacity: 0.3;
  right: 10%;
  top: 0;
  height: auto;
  width: 100%;
  max-width: 400px;
}
.carousel-controls .control {
  position: absolute;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 1;
}

.prev {
  left: -2.25rem;
}

.next {
  right: -2.25rem;
}

@media screen and (max-width: 768px) {
  .testimonials {
    max-height: 700px;
  }
  .icon-overlay {
    height: 300px;
    top: calc(50% - 150px);
  }
  .carousel-controls .control {
    width: 25px;
    height: 25px;
    top: inherit;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .control i {
    font-size: .7rem;
  }
  .testimonials .message {
    font-size: 1rem;
  }
  .testimonials h2 {
    font-size: 1.5rem;
  }
#Booking{
.container 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;

}
h1 {
  color: white;
  font-family: "Oswald", sans-serif;
  margin: 20px 0;
  text-align: center;
}

.registartion-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #6f2f42;
  padding: 20px;
}

.registartion-form input,
.registartion-form select,
.registartion-form textarea {
  border: none;
  padding: 5px;
  margin-top: 10px;
  font-family: sans-serif;
}

.registartion-form input:focus,
.registartion-form textarea:focus {
  outline: none;
  box-shadow: 0 0 10px rgb(228, 228, 228), 0 0 10px rgb(224, 224, 224);
}

.registartion-form .submit {
  width: 100%;
  padding: 8px 0;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
}

.registartion-form .submit:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
}